// src/pages/article/article.module.scss
.article {
    font-family: Arial, sans-serif;
   .contenuto{
     color: black;

     h1 {
       font-size: 2em;
       margin-bottom: 20px;
     }
   
     img {
       
       height: auto;
       border-radius: 5px;
       margin-bottom: 20px;
     }
   
     p {
       font-size: 1.2em;
     }
   }
  }
  