@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.layout {
  
  
  .articles {
    display: flex;
    align-items: center;
    flex-direction: column;
    .ContTitolo{
      
      margin: 15px;
      display: flex;
      .line1{

          border: 1px solid black;
          .line2{
              border: 3px solid #bfa119;
              height: 100%;
          }
      }
      .titolo{
          margin-left: 5px;
          font-size: 1.5rem;
          color: black;
      }
    }
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    transition: background-color 0.3s, transform 0.3s;

    .article {
      padding: 20px;
      gap: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
     
      border: 1px solid #ddd;
      border-radius: 10px;
      background-color: #fff;
      transition: background-color 0.3s, transform 0.3s;

      &:hover {
        background-color: #f9f9f9;
        transform: translateY(-5px);
      }

      img {
        height: 225px;
        width: 300px;
        border-radius: 10px;
      }

      h3 {
        font-family: 'Bebas Neue', sans-serif;
        font-size: 1.5em;
        text-align: center;
        margin-bottom: 5px;
        margin-top: 5px;
      }

      p {
        font-size: 1em;
        color: #555;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 5px;
      }

      .readMore {
        color: #0070f3;
        text-decoration: none;
        font-weight: bold;
        margin-top: 5px;
        

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  @media (min-width: 800px) {
    .articles {
      .article {
        width: 800px;
        padding: 30px;
        gap: 5px;
      img{
        height: 525px;
        width: 700px;
      }
    }
    }
  }
}
