.lazyImage {
    display: block;
    width: 100%;
    height: auto;
    background-color: #f0f0f0; 
}
.Michele{
    height: 45px;
    width: 45px;
    margin: 0;
    position: absolute;
    right: 5px;
    top: -25%;
    border-radius: 50%;
    
   }
  