.spinnerContainer {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  border: 8px solid rgb(255, 255, 255);
  border-left-color: #000000;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
  