@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Libre+Baskerville&display=swap');
.navbar{
    display: none;
    @media (min-width: 800px) {
        width: 100%;
        height: 30px;
        margin: 0;
        font-size: 1.3rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: rgb(0, 0, 0);
        font-family: 'Bebas Neue', sans-serif;
        display: flex;
        padding-bottom: 10px;
    }
}
