.Footer {
    height: 95px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    background: rgb(0, 0, 0);
    font-family: 'Libre Baskerville', serif;
   

    h3 {
        color: #bfa119;
    }

    .footerSocial, .footerContatti {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        .footerTxtContatti {
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }

    // Media query per tablet
    @media (min-width: 768px) {
        font-size: 0.9rem;
        .footerSocial, .footerContatti {
            gap: 15px;
        }
    }

    // Media query per desktop
    @media (min-width: 1024px) {
        height: 150px;
        flex-direction: row; // Cambia il layout in orizzontale per desktop
        font-size: 1.5rem;

        .footerSocial, .footerContatti {
            width: 40%; // Riduci la larghezza per dare più spazio al contenuto
            gap: 20px;

            .footerTxtContatti {
                flex-direction: row; // Visualizza il testo in riga per un layout più compatto
                gap: 10px; // Aggiungi spazio tra gli elementi
            }
        }
    }
}
