.Footer {
    height: 100px;
    width: 100%;
    padding: 4px;
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    background: rgb(0, 0, 0);
    font-family: 'Libre Baskerville', serif;
    .container1,.container2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        .titoli{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 30%;
            
            h3 {
                color: #bfa119;
            }
        }
        .footerSocial, .footerContatti {
            height: 50%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2px;
            a{
                color: white;
                font-size: 0.6rem;
                text-align: center;
            }
        }
        .footerSocial{
            flex-direction: row;
            
        }
      
    }

    @media (min-width: 768px) {
        font-size: 0.9rem;
        .container1,.container2{
            .footerSocial, .footerContatti {
                
                a{
                    font-size: 0.9rem;
                }
                
            }
            .footerContatti{
                gap: 5px;
            }
          
        }
    }

    @media (min-width: 1024px) {
        height: 150px;
        flex-direction: row;
        font-size: 1.5rem;
        .container1,.container2{
            .footerSocial, .footerContatti {
                a{
                    font-size: 1.5rem;
                }
            }
        }
    }
}
